<div id="profile">
    <div class="profilePic">
        <img src="http://via.placeholder.com/100x100">
    </div>
    <h1 class="name">Dylan Brown</h1>
    <p class="summary">Student at DevMountain, loves staying inside but looking to fix that. Usually spends time coding but that needs to stop. Hoping no one sees this profile.</p>
    <div class="sportList">
        <ul>
            <li class="sports">Coding</li>
            <li class="sports">Extreme Coding</li>
            <li class="sports">Running Away</li>
            <li class="sports">Being Lame</li>
        </ul>
    </div>

    <div class="goals">
        <h1>Personal Goals:</h1>
        <ul>
            <li class="goal">Code Less</li>
            <li class="goal">Go Outside more</li>
            <li class="goal">Play Ping Pong</li>
            <li class="goal">Meet a person</li>
        </ul>
    </div>
    <div class="badges">
        <h1>Badges:</h1>
        <ul>
            <li><img src="http://via.placeholder.com/75x75"></li>
            <li><img src="http://via.placeholder.com/75x75"></li><br>
            <li><img src="http://via.placeholder.com/75x75"></li>
            <li><img src="http://via.placeholder.com/75x75"></li>
        </ul>
    </div>

    <div class="leaderboards">
        <ul>
            <li class="leader"><span class="ranks">#1 - Simarleen Gulati</span><span class="badgeCount"> 8 badges</span></li>
            <li class="leader"><span class="ranks">#2 - Katie Bowles</span><span class="badgeCount"> 7 badges</span></li>
            <li class="leader"><span class="ranks">#3 - Michael Nguyen</span><span class="badgeCount"> 5 badges</span></li>
            <li class="leader"><span class="ranks">#4 - Farhaj Mayan</span><span class="badgeCount"> 2 badges</span></li>
            <li class="leader"><span class="you">#5 - You're here bro</span><span class="badgeCount"> 1 badge</span></li>
        </ul>
    </div>
</div>