<div id="profile">
    <div class="profilePic"></div>
    <h1 class="name">Dylan Brown</h1>
    <p class="summary">Student at DevMountain, loves staying inside but looking to fix that. Usually spends time coding but that needs to stop. Hoping no one sees this profile.</p>
    <div class="sportList">
        <ul>
            <li class="sports">Coding</li>
            <li class="sports">Extreme Coding</li>
            <li class="sports">Running Away</li>
            <li class="sports">Being Lame</li>
        </ul>
    </div>

    <div class="goals">
        <h1>Personal Goals:</h1>
        <ul>
            <li class="goal">Code Less</li>
            <li class="goal">Go Outside more</li>
            <li class="goal">Remember what the Sun looks like</li>
            <li class="goal">Meet a person</li>
        </ul>
    </div>
</div>