/* Empty. Add your own CSS if you like */
ion-header-bar {
  background-color: white !important; }
  ion-header-bar h1 {
    font-size: 2em !important;
    color: #EF9571 !important;
    background-color: white;
    text-align: center !important; }
